body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
}

.archive {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.post-title a {
	color: #ffffff;
}

.article-info, .header {
	display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
}

.article-author, .logo {
	width: 49.9%;
	text-align: left;
}

.article-created-date, .all_posts_navigation {
	width: 49.9%;
	text-align: right;
}